*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh auto ;
    grid-template-areas:  
    "i i i i c c c c c c c c"
    "i i i i p p p p p p p p";
}
section {
    grid-area: i;
    background-image: url(imagens/img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

header{
    grid-area: c;
    background-color: aqua;
    background: linear-gradient(180deg, #56A292 31.25%, #1C8080 100%, #1C8080 100%);
}
header > p{
    font-family:'Archivo Narrow', sans-serif;
    text-align: center;
    color: white;
    font-size: 4rem;
    font-weight: 200;
}

main{
    grid-area: p;
    background-color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.formulario{
    background-image: url(imagens/bgpensamento.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 50%;

}

form > label {
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

 form > input {
    background: #E9E9E9;
    border-radius: 50px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    border: none;

}
.inputcb{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    color: rgba(131, 131, 131, 1);
    text-align: center;


}
.inputcb [type="checkbox"]{
    width: 25px;
    height: 25px;

}
.btn1{
    border-radius: 50px;
    background-color: #4B538B;
    color: white;
    height: 70px;
    width: 260px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;



}
.btn1:hover{
    border: solid black 2px;
    border-radius: 50px;

    background-color: white;
    color:black;
    height: 70px;
    width: 260px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    transition: 5ms;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width:900px){
    .container{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10% auto 50%;
        grid-template-areas:  
        "c"
        "i"
        "p"
        ;
    }

    section{
        background-image: url(imagens/asideimg.jpg);
        background-size: cover;
    }

    .inputcb{
        font-size: 1rem;
        text-align: left;

    }

    .btn1{
        height: 100%;
        width: 70%;
        font-size: 1.5rem;


    }
    .btn1:hover{
        height: 100%;
        width: 70%;
        font-size: 1.5rem;
    }

    form > input {
        font-size: 1rem;
        width: 70%;
        height: 70%;
    }
    form > label {
        font-size: 1rem;
    }
    .inputcb [type="checkbox"]{
        width: 10%;
        height: 10%;
    }
    .formulario {
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

